<div class="interval-list">
  <table class="table table-striped table-theme">
    <thead>
      <td scope="col">Name</td>
      <td scope="col">Time (in sec)</td>
      <td scope="col">Repetitions</td>
      <td scope="col"></td>
    </thead>
    <tbody>
      <tr
        mdbTableCol
        *ngFor="let t of allInterval | keyvalue; let i = index">
        <td scope="row">{{ t.value.Name }}</td>
        <td style="font-family: D7CMB;">{{ t.value.Seconds }}</td>
        <td style="font-family: D7CMB;">{{ t.value.Repetitions }}</td>
        <td>
          <span
            style="height: 1rem; width: 1rem; color: transparent"
            [ngStyle]="getEl(t.value)">Color</span>
        </td>
      </tr>
    </tbody>
  </table>
  <hr>
  <app-save style="float: right;" [disabled]="!canSave" (clickEventListener)="SaveImgClicked($event)"></app-save>
</div>
