<div class="interval-list">
  <app-table [tblInput]="tbl" (rowClickEvent)="TrashClickEvent($event)"></app-table>
  <hr />
  <div
    *ngIf="showListRibbon"
    style="display: flex; justify-content: space-evenly"
  >
    <app-graph-img
      [disabled]="!canView"
      (clickEventListener)="EyeClickEvent('view-graph')"
    ></app-graph-img>
    <app-eye
      [disabled]="!canView"
      (clickEventListener)="EyeClickEvent('view-routine')"
    ></app-eye>
    <app-save
      [disabled]="!canSave"
      (clickEventListener)="SaveImgClicked($event)"
    ></app-save>
  </div>
  <ng-template #newroutine>
    <app-textbox
      [inputProperties]="routineNameInput"
      (text)="CatchTextEvent($event)"
    ></app-textbox>
    <div style="display: flex; justify-content: space-evenly; margin-top: 1rem">
      <app-button [btnText]="'Save'" (btnClick)="SaveNewRoutine(undefined)"></app-button>
      <app-button
        [btnText]="'Cancel'"
        (btnClick)="DoNotSaveNewRoutine()"
      ></app-button>
    </div>
  </ng-template>
</div>
