<div class="container">
  <div *ngIf="!validationStatus" class="alert-danger">
    <span class="text-danger">{{ validationMessage }}</span>
  </div>
  <br />
  <form
    [formGroup]="newIntervalFormGroup"
    (ngSubmit)="AddNewInterval()"
    class="form"
    enctype="multipart/form-data"
    style="text-transform: capitalize"
  >
    <div class="form-group">
      <div class="input-group">
        <input
          formControlName="newIntervalKey"
          type="text"
          class="form-field"
          placeholder="Cycle Name"
        />
      </div>
    </div>
    <div class="form-group">
      <div class="input-group controls">
        <div class="interval-place-holder">how long this cycle should be?</div>
        <div class="new-interval-container">
          <input
            type="number"
            class="new-interval-holder"
            formControlName="newInterval"
            placeholder="0"
          />
          <select name="intervl-type" id="interval-type" class="interval-type" (change)="IntervalTypeChange($event)">
            <option value="s">Sec</option>
            <option value="m">Min</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="color-picker-lbl interval-place-holder">
        pick a fun color to visibly see the progress
      </div>
      <div style="width: 10%;padding-left: 1rem;">
        <input type="color" formControlName="color" />
      </div>
    </div>
    <button
      type="submit"
      style="float: right"
      class="timer-btn"
      [disabled]="clicked"
    >
      Add
    </button>
  </form>
</div>
