.control-borders {
  border: 0.1rem solid var(--controls-color);
}

.form-field {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border-color: var(--controls-color);
  color: var(--controls-color);
  @extend .control-borders;
}

input[type="Text"],
input[type="Number"] {
  background-color: var(--bgColor);
}

select {
  background-color: var(--bgColor);
}

.form-field:focus {
  border-color: var(--controls-color);
}

// ::-webkit-input-placeholder {
//   /* Edge */
//   color: var(--controls-color);
// }

// :-ms-input-placeholder {
//   /* Internet Explorer 10-11 */
//   color: var(--controls-color);
// }

// ::placeholder {
//   color: var(--controls-color);
// }

.interval-input {
  width: 100%;
  user-select: none;
}

.interval {
  font-size: 2rem;
  text-decoration: none;
  width: 10%;
  display: inline-block;
}

.interval-decrease {
  transform: rotate(-180deg);
}

.new-interval-controls {
  display: inline-block;
  font-size: 2.5rem;
  margin-right: 0.5rem;
  color: var(--controls-color);
  width: 45%;
}

.new-interval-holder {
  @extend .new-interval-controls;
  @extend .control-borders;
  font-family: D7CMB;
  text-align: right;
}

.timer-btn {
  border: solid 2px var(--controls-color);
  background-color: var(--bgColor);
  color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
  color: var(--controls-color);
}

.timer-btn:hover {
  background-color: var(--controls-color);
  color: var(--bgColor);
}

.color-picker-lbl {
  color: var(--controls-color);
}

.interval-place-holder {
  padding: 1rem 0;
}

.new-interval-container {
  display: flex;
  justify-content: space-evenly;
}

.interval-type{
  @extend .new-interval-controls;
  @extend .control-borders;
}