@media only screen and (max-width: 1300px) and (orientation: portrait) {
    .main-timer {
      height: 80vh;
      line-height: 80vh;
      text-align: center;
      font-family: D7CMB;
      font-size: 9vh;
    }
  }
  