<div style="position: relative">
  <div class="glass-card">
    <div class="wrapper">
      <app-moon-img
        class="dark-mode-toggler"
        (clickEventListener)="ChangeTheme()"
      ></app-moon-img>
      <div class="main-timer">
        {{ DisplayTime() }}
      </div>
      <div class="ribbon">
        <div class="ribbon-container">
          <app-plus-img
            [disabled]="!canaddNew"
            [imgColor]="'black'"
            (clickEventListener)="RibbonItemClickEvent('New-Item')"
          ></app-plus-img>
          <app-play-img
            *ngIf="!isRunning"
            [imgColor]="'black'"
            (clickEventListener)="RunTimer()"
          ></app-play-img>
          <app-pause-img
            *ngIf="isRunning"
            [imgColor]="'black'"
            (clickEventListener)="RunTimer()"
          ></app-pause-img>
          <app-refresh-img
            [imgColor]="'black'"
            (click)="ClearThings()"
          ></app-refresh-img>
          <app-list-img
            [imgColor]="'black'"
            (clickEventListener)="RibbonItemClickEvent('list')"
          ></app-list-img>
        </div>
      </div>
      <ng-template #mymodal let-modal>
        <div class="modal-header modal-theme-custom">
          <h4 class="modal-title" id="modal-basic-title">{{ modalHeader }}</h4>
          <a
            class="close"
            style="cursor: pointer; color: var(--controls-color)"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
          >
            <span style="color: var(--controls-color)" aria-hidden="true"
              >×</span
            >
          </a>
        </div>
        <div class="modal-body modal-theme-custom">
          <app-animate-screen [screen1]="screen1" [screen2]="screen2" [toggleScreen]="toggleScreen" (syncToggleFlag)="SyncScreenAnimation($event)"></app-animate-screen>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="progress interval-progress" style="border-radius: 0">
    <div
      class="progress-bar"
      role="progressbar"
      [attr.aria-valuenow]="intervalprogress"
      aria-valuemin="0"
      aria-valuemax="100"
      [ngStyle]="StyleProgress()"
    ></div>
  </div>
  <app-message
    [Show]="showMessage"
    [Message]="message"
    [IsError]="isError"
  ></app-message>
</div>
<ng-template #newItem>
  <app-new-interval
    (newlyCreatedItem)="NewTimerEvent($event)"
    [allInterval]="allInterval"
    [existingColors]="allColors"
  ></app-new-interval>
</ng-template>

<ng-template #list>
  <app-interval-list
    [allInterval]="allInterval"
    (DisplayMessage)="ShowSuccessMessage($event)"
    (ViewRoutineClick)="RibbonItemClickEvent($event)"
    (DeleteTimerClick)="DeleteTimer($event)"
  ></app-interval-list>
</ng-template>

<ng-template #routine>
  <app-view-routine></app-view-routine>
</ng-template>

<ng-template #gr>
  InProgress.. Coming Soon.
</ng-template>