:root {
  --newitemsize: 7rem;
  --maintimersize: 40vh;
  --timerlistsize: 40vh;
  --ribbonsize: 20vh;
  --maintimersize-mobile: 80vh;
  --timerlistsize-mobile: 40vh;
  --ribbonsize-mobile: 10vh;
  --controls-color: black;
  --bgColor: white;
}
