* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

/* You can add global styles to this file, and also import other style files */
:root {
  --newitemsize: 7rem;
  --maintimersize: 40vh;
  --timerlistsize: 40vh;
  --ribbonsize: 20vh;
  --maintimersize-mobile: 80vh;
  --timerlistsize-mobile: 40vh;
  --ribbonsize-mobile: 10vh;
  --controls-color: black;
  --bgColor: #ffffff80;
  --controls-disabled-color: grey;
  --highlight-color: #1818f4;
  //--bgColor: #000000cc; - dark mode
}

.dark-mode {
  --controls-color: #ffffff;
  --bgColor: #0000006b;
  --highlight-color: blue;
}

.noUI-control {
  pointer-events: none;
  user-select: none;
}

@font-face {
  font-family: "Ubuntu", sans-serif;
  src: url("./assets/font/ubuntu/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: D7CMB;
  src: url("./assets/font/DSEG7ClassicMini-Bold.woff");
}
* {
  font-family: "Ubuntu", sans-serif;
}

::-webkit-input-placeholder {
  /* Edge */
  color: var(--controls-color);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--controls-color);
}

::placeholder {
  color: var(--controls-color);
}

.clickable {
  cursor: pointer;
}

.disabled {
  color: grey;
}

input[type="Number"]::-webkit-outer-spin-button,
input[type="Number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="Number"] {
  -moz-appearance: none;
}

.triangle {
  width: 0;
  height: 0;
  border-top: 0.75rem solid transparent;
  border-bottom: 0.75rem solid transparent;
  border-left: 0.75rem solid var(--controls-color);
}

.basic-focus {
  outline: 0;
  box-shadow: var(--highlight-color) 0rem 0rem 0.75rem 0.01rem;
}

input[type="color"]:focus,
input[type="color"]:active {
  @extend .basic-focus;
}

select:focus,
select:active {
  @extend .basic-focus;
}
