/* You can add global styles to this file, and also import other style files */
:root {
  --newitemsize: 7rem;
  --maintimersize: 40vh;
  --timerlistsize: 40vh;
  --ribbonsize: 20vh;
  --maintimersize-mobile: 80vh;
  --timerlistsize-mobile: 40vh;
  --ribbonsize-mobile: 10vh;
  --controls-color: black;
  --bgColor: #ffffff80;
  --controls-disabled-color: grey;
  //--bgColor: #000000cc; - dark mode
}

.dark-mode {
  --controls-color: white;
  --bgColor: #000000cc;
}

@font-face {
  font-family: "Ubuntu", sans-serif;
  src: url("./assets/font/ubuntu/Ubuntu-Regular.ttf");
}

* {
  font-family: "Ubuntu", sans-serif;
}

.clickable {
  cursor: pointer;
}

.disabled {
  color: grey;
}