* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

/* You can add global styles to this file, and also import other style files */
:root {
  --newitemsize: 7rem;
  --maintimersize: 40vh;
  --timerlistsize: 40vh;
  --ribbonsize: 20vh;
  --maintimersize-mobile: 80vh;
  --timerlistsize-mobile: 40vh;
  --ribbonsize-mobile: 10vh;
  --controls-color: black;
  --bgColor: #ffffff80;
  --controls-disabled-color: grey;
  --highlight-color: #278efc;
  //--bgColor: #000000cc; - dark mode
  --blur-val: 5rem;
}

.dark-mode {
  --blur-val: 2rem;
  --controls-color: #ffffff;
  --bgColor: #000000cc;
  --highlight-color: #278efc;
}

.noUI-control {
  pointer-events: none;
  user-select: none;
}

@font-face {
  font-family: "Ubuntu", sans-serif;
  src: url("./assets/font/ubuntu/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: D7CMB;
  src: url("./assets/font/DSEG7ClassicMini-Bold.woff");
}
* {
  font-family: "Ubuntu", sans-serif;
}

::-webkit-input-placeholder {
  /* Edge */
  color: var(--controls-color);
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--controls-color);
}

::placeholder {
  color: var(--controls-color);
}

.clickable {
  cursor: pointer;
}

.disabled {
  color: grey;
}

input[type="Number"]::-webkit-outer-spin-button,
input[type="Number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="Number"] {
  -moz-appearance: none;
}

.triangle {
  width: 0;
  height: 0;
  border-top: 0.75rem solid transparent;
  border-bottom: 0.75rem solid transparent;
  border-left: 0.75rem solid var(--controls-color);
}

.basic-focus {
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08),
    0 0 10px 2px var(--highlight-color);
}

input[type="color"]:focus,
input[type="color"]:active {
  @extend .basic-focus;
}

select:focus,
select:active {
  @extend .basic-focus;
}

svg:hover {
  filter: drop-shadow(0 0 0.35rem rgba(255, 255, 255, 0.8));
}

@keyframes glow-text {
  from {
    text-shadow: 0 0 1rem rgba(255, 255, 255, 0);
  }
  to {
    text-shadow: 0 0 1rem rgba(255, 255, 255, 1);
  }
}

.glow-text-animation {
  animation-name: glow-text;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.theme-focus {
  animation: spin 0.25s linear 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
    opacity: 0;
  }
}
